<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.glm.employees" version="1.0.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Employees</name>
    <description>
        Gestion des Employés
    </description>
    <author email="alain.therrieure.fr" href="http://monDomaine;fr">
        Une réalisation de Alain Therrieure
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />	
    <platform name="android">
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application android:usesCleartextTraffic="true" />
		</edit-config>
        <allow-intent href="market:*" />        
        <icon src="www/res/employees.png" density="hdpi"></icon>
    </platform>
</widget>
